 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Roboto", sans-serif;
     line-height: 1.6;
     color: #000000;
 }
 .cabecalho{
    background-color: rgba(0,0,0,0.1);
    height: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

 #imgprin {
     width: 100%;
 }

 #containerb {
     display: flex;
     text-align: center;
     justify-content: center;
     gap: 50px;
     width: 100%;
     margin-top: 2rem;
 }

 .bloco {
     flex: 1 1 280px;
     max-width: 320px;
     background: #ffffff;
     border-radius: 15px;
     padding: 1.5rem;
     text-align: center;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     transition: 0.3s;
 }

 .bloco:hover {
     transform: translateY(-8px);

 }

 .imgbloco {
     width: 200px;
 }

 h2 {
     margin-bottom: 1rem;
 }

 p {
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     color: black;
 }

 .clienteimg {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     border: solid 2px rgb(0, 153, 107);
     margin: 1rem;
 }

 #avaliacao {
     margin-top: 3rem;
     text-align: center;
     width: 100%;
     background-color: rgb(230, 230, 230);
     border-radius: 10px;
 }

 footer {
     text-align: center;
     height: 150px;
     background-color: dodgerblue;
     border-radius: 10px;
     color: white;
 }

 button {
     width: 90px;
     height: 45px;
     background-color: rgb(255, 208, 0);
     border-radius: 15px;
     border: solid 1px;
     transition: 0.4s;
 }

 button:hover {
     background-color: rgb(224, 183, 0);
 }

 h4 {
     font-size: 20px;
     margin-bottom: 2rem;
 }